<footer class="text-center text-lg-start bg-white text-muted">
	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
		© 2023 Derechos reservados:
		<a class="text-reset fw-bold">Braulio Ricardo Lopez Chavez</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->

<% scripts.forEach(element => { %>
<script src="<%= element %>"></script>
<% }) %>

</body>

</html>