<%- include('partials/header.html') %>

<main class="container-lg mh py-4">
	<div class="d-flex justify-content-start">
		<h1 class="text-start mb-0 ms-2"></h1>
	</div>

	<form class="mt-3 border border-3 p-3 rounded bg-danger" id="form">
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label style="color: white;"for="id" class="form-label">Id</label>
				<input type="text" id="id" name="id" class="form-control" value="<%= alumno.id %>" placeholder="Id" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label style="color: white;"for="matricula" class="form-label">Matricula</label>
				<input type="text" id="matricula" name="matricula" class="form-control" value="<%= alumno.matricula %>" placeholder="Matricula" required />
			</div>
		</div>
		<div class="mb-2">
			<label style="color: white;"for="nombre" class="form-label">Nombre</label>
			<input type="text" id="nombre" name="nombre" class="form-control" value="<%= alumno.nombre %>" placeholder="Nombre" required />
		</div>
		<div class="mb-2">
			<label style="color: white;"for="domicilio" class="form-label">Domicilio</label>
			<textarea class="form-control" id="domicilio" name="domicilio" rows="3" placeholder="Domicilio" required><%= alumno.domicilio %></textarea>
		</div>
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label style="color: white;"for="sexo" class="form-label">Sexo</label>
				<input type="text" id="sexo" name="sexo" class="form-control" value="<%= alumno.sexo %>" placeholder="F/M" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label style="color: white;"for="especialidad" class="form-label">Especialidad</label>
				<input type="text" id="especialidad" name="especialidad" class="form-control" value="<%= alumno.especialidad %>" placeholder="Especialidad" required />
			</div>
		</div>

		<div class="d-flex flex-wrap justify-content-end gap-2">
			<button class="btn btn-light" id="btnActualizar">
				Editar
			</button>
			<button class="btn btn-light " type="reset">
				Restablecer
			</button>
			<button class="btn btn-light ">
				<a class="text-black" href="../">Cancelar</a>
			</button>
		</div>
	</form>

	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content bg-light" >
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.html') %>
