<%- include('partials/header.html') %>

<main class="container-lg mh py-4">
	<div class="d-flex justify-content-start">
		<h1 class="text-light-énfasis mb-0 ms-2" style="color: black;">Listado de Alumnos</h1>
	</div>
	<form class="mt-2  p-2 rounded-2 bg-info" id="form">
		<div>
			
			<table id="results" class="table table-dark table-hover table-bordered mt-2 mb-0 align-middle">
				<thead>
					<tr>
						<th scope="col" class="text-center">Id</th>
						<th scope="col" class="text-center">Matricula</th>
						<th scope="col" class="text-center">Nombre</th>
						<th scope="col" class="text-center">Domicilio</th>
						<th scope="col" class="text-center">Sexo</th>
						<th scope="col" class="text-center">Especialidad</th>
						<th scope="col" class="text-center">Borrar/Editar</th>
					</tr>
				</thead>
				<tbody>
					<% alumnos.forEach(element=> { %>
					<tr>
						<th class="text-center" scope="row">
							<%= element.id %>
						</th>
						<td class="text-center">
							<%= element.matricula %>
						</td>
						<td class="text-center">
							<%= element.nombre %>
						</td>
						<td class="text-center">
							<%= element.domicilio %>
						</td>
						<td class="text-center">
							<%= element.sexo %>
						</td>
						<td class="text-center">
							<%= element.especialidad %>
						</td>
						<td class="d-flex justify-content-center align-items-center gap-2">
							<a href="/delete/<%= element.id %>" class="btn btn-light ">
								Borrar
							</a>
							<a href="/update/<%= element.id %>" class="btn btn-light">
								Editar
							</a>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div><br>

		<div class="d-flex flex-wrap justify-content-center gap-2 bg-info">
			<button class="btn btn-light" id="btnAgregar">
				Agregar
			</button>
			<button class="btn btn-light" id="btnConsultar">
				Consultar
			</button>
			<button class="btn btn-light text-black" type="reset">
				Limpiar
			</button>
		</div><br>

		<div class="">
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="id" class="form-label" style="color: black;" >Id</label>
				<input type="text" id="id" name="id" class="form-control" placeholder="Id" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="matricula" class="form-label"style="color: black;">Matricula</label>
				<input type="text" id="matricula" name="matricula" class="form-control" placeholder="Matricula"
					required />
			</div>
		</div>
		<div class="mb-2">
			<label for="nombre" class="form-label"style="color: black;">Nombre</label>
			<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required />
		</div>
		<div class="mb-2">
			<label for="domicilio" class="form-label"style="color: black;">Domicilio</label>
			<textarea class="form-control" id="domicilio" name="domicilio" rows="3" placeholder="Domicilio"
				required></textarea>
		</div>
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="sexo" class="form-label"style="color: black;">Sexo</label>
				<input type="text" id="sexo" name="sexo" class="form-control" placeholder="F/M" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="especialidad" class="form-label"style="color: dark;">Especialidad</label>
				<input type="text" id="especialidad" name="especialidad" class="form-control"
					placeholder="Especialidad" required />
			</div>
		</div>
		
		</div>
	</form>

	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog ">
			<div class="modal-content bg-light">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.html') %>